<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="An extremely cute, minimalistic, multilingual pomodoro.">
    <meta name="viewport" content="width=device-width">
    <title>C'est un pomodoro</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74369185-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body ng-app="Pomodoro" ng-controller="MainControl">

    <div class="header">
      <!-- C'est un pomodoro -->
      <h1>{{ title[current_language] }}</h1>
      <!-- Et ce pomodoro veut que tu travailles. -->
      <p>{{ intro[current_language]}}</p>
    </div>

    <main>

      <header>
        <div class="session">
          <div class="breakControl">
            <!-- se détendre -->
            <p>{{ relax[current_language]}}</p>
            <button ng-click="breakLengthChange(-1)" class="minus">-
            </button>

            <span class="time">{{breakLength}}
            </span>

            <button ng-click="breakLengthChange(1)" class="plus">+
            </button>
          </div>

          <div class="sessionControl">
            <!-- travailler -->
            <p>{{ work[current_language]}}</p>
            <button ng-click="sessionLengthChange(-1)" class="minus">-</button>

            <span class='time'>{{sessionLength}}</span>

            <button ng-click="sessionLengthChange(1)" class="plus">+</button>
          </div>

        </div>
      </header>

      <section ng-click="toggleTimer()" class="cute-round-clock">
        <div class="timer">
          <p class='title'>{{current_session_name[current_language]}}</p>

          <i class="material-icons md-48" ng-show="!clock_on">play_arrow</i>

          <i class="material-icons md-48"  ng-show="clock_on">pause</i>
          <p>{{timeLeft}}</p>
          <span ng-style="{'height':fillHeight, 'background':fillColor}" class="fill"></span>
        </div>

      </section>

      <div class="menu">
        <div class="language-buttons">
          <button type="button" name="button" ng-click="switch_language('en')">english</button>
          <button type="button" name="button" ng-click="switch_language('fr')">français</button>
          <button type="button" name="button" ng-click="switch_language('hak')">客家話</button>
        </div>

        <div class="info">
          <a title="This is a cute productivity tool that helps you break down your work into manageable sessions, with regular breaks in between. When your current session ends, Pewdiepie will whisper sweet nothings in your ear to remind you." class="hints"><span title=" ">What is this?</span></a>
          <a title="Coded by Nina Belikova. Hakka translation by Ian Lee." class="hints"><span title=" ">Who made it?</span></a>
        </div>

      </div>

    </main>



  </body>

</html>
