<body>
  <div class="header">
    <h1>C'est un pomodoro.</h1>
    <p>Et ce pomodoro veut que tu travailles.</p>
  </div>

  <main ng-app="Pomodoro" ng-controller="MainControl">

      <header>
            <div class="session">
      <div class="breakControl">
        <p>se détendre</p>
        <button ng-click="breakLengthChange(-1)" class="minus">-
        </button>

        <span class="time">{{breakLength}}
        </span>

        <button ng-click="breakLengthChange(1)" class="plus">+
        </button>
      </div>


      <div class="sessionControl">
        <p>travailler</p>
        <button ng-click="sessionLengthChange(-1)" class="minus">-</button>

        <span class='time'>{{sessionLength}}</span>

        <button ng-click="sessionLengthChange(1)" class="plus">+</button>
      </div>

    </div>
      </header>


    <section ng-click="toggleTimer()">
      <div class="timer">
        <p class='title'>{{sessionName}}</p>

        <p>{{timeLeft}}</p>
        <span ng-style="{'height':fillHeight, 'background':fillColor}" class="fill">
        </span>
      </div>

    </section>


  </main>
</body>
